absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
altgraph==0.17.4
annotated-types==0.7.0
anthropic==0.45.0
anyio==4.8.0
asgiref==3.8.1
astunparse==1.6.3
attrs==24.3.0
autocommand==2.2.2
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
bottle==0.13.2
bs4==0.0.2
cachetools==5.5.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
clr_loader==0.2.7.post0
colorama==0.4.6
colorthief==0.2.1
contourpy==1.3.1
cryptography==44.0.1
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
DataRecorder==3.6.2
distro==1.9.0
Django==5.1.5
docutils==0.21.2
DownloadKit==2.0.7
dukpy==0.5.0
easyocr==1.7.2
EasyProcess==1.1
entrypoint2==1.1
et_xmlfile==2.0.0
exceptiongroup==1.2.2
filelock==3.17.0
filetype==1.2.0
Flask==3.1.0
flatbuffers==25.1.24
fonttools==4.55.5
frozenlist==1.5.0
fsspec==2024.12.0
gast==0.6.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.0
google-api-python-client==2.159.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
google-pasta==0.2.0
googleapis-common-protos==1.66.0
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
idna==3.10
imageio==2.37.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
infi.systray==0.1.12.1
inflect==7.5.0
itsdangerous==2.2.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jax==0.5.0
jaxlib==0.5.0
Jinja2==3.1.5
jiter==0.8.2
keras==3.8.0
keyboard==0.13.5
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
kiwisolver==1.4.8
lazy_loader==0.4
libclang==18.1.1
loguru==0.7.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mdurl==0.1.2
mediapipe==0.10.20
ml-dtypes==0.4.1
more-itertools==10.6.0
MouseInfo==0.1.3
mpmath==1.3.0
mss==10.0.0
multidict==6.1.0
mutf8==1.0.6
namex==0.0.8
networkx==3.4.2
ninja==1.11.1.3
Nuitka==2.6
numpy==1.26.4
ollama==0.4.7
openai==1.60.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.14.0
ordered-set==4.1.0
package_name==0.1
packaging==24.2
pandas==2.2.3
parse_pip_search==0.0.1
pefile==2023.2.7
pillow==11.1.0
platformdirs==4.3.6
plyer==2.1.0
prompt_toolkit==3.0.50
propcache==0.2.1
proto-plus==1.25.0
protobuf==4.25.6
proxy_tools==0.1.0
psutil==6.1.1
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pyclipper==1.3.0.post6
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
pygame==2.6.1
PyGetWindow==0.0.9
pyglet==2.1.2
Pygments==2.19.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.0
PyMsgBox==1.0.9
pynput==1.7.7
pyparsing==3.2.1
pyperclip==1.9.0
pypiwin32==223
PyQt-SiliconUI==1.0.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.16.1
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6_sip==13.9.1
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==1.0.1
PySide6==6.8.1.1
PySide6-Fluent-Widgets==1.7.4
PySide6_Addons==6.8.1.1
PySide6_Essentials==6.8.1.1
PySideSix-Frameless-Window==0.4.5
pystray==0.19.5
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-xlib==0.15
pythonnet==3.0.5
pytweening==1.2.0
pytz==2024.2
pywebview==5.3.2
pywin32==308
pywin32-ctypes==0.2.3
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
rsa==4.9
rubicon-objc==0.5.0
scikit-image==0.25.0
scipy==1.15.1
seaborn==0.13.2
self-operating-computer==1.5.5
sentencepiece==0.2.0
serverchan-sdk==1.0.6
setuptools==75.8.0
shapely==2.0.6
shiboken6==6.8.1.1
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.1
soupsieve==2.6
sqlparse==0.5.3
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
thop==0.1.1.post2209072238
tifffile==2025.1.10
tkinterdnd2==0.4.2
tomli==2.2.1
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
ttkbootstrap==1.10.1
typeguard==4.4.1
typing_extensions==4.12.2
tzdata==2025.1
ultralytics==8.3.67
ultralytics-thop==2.0.14
uritemplate==4.1.1
urllib3==2.3.0
utils==1.0.2
watchdog==6.0.0
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.45.1
win32_setctime==1.2.0
wrapt==1.17.2
yarl==1.18.3
you-get==0.4.1743
zipp==3.21.0
zstandard==0.23.0
