PyQt5>=5.15.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyautogui>=0.9.50
pywin32>=300 ; platform_system == "Windows"
numpy>=1.19.5
Pillow>=9.0.0
pyperclip==1.8.2
flask==2.3.3
psutil>=5.9.0
PyOpenGL==3.1.9
pynput>=1.7.6
keyboard>=0.13.5
mouse>=0.7.1
colorama>=0.4.4
